body {
    background-color:aquamarine;
}

h1, h3, div, a, p {
    font-family: Comic Sans MS;
    text-align: center;
}

img {
    height: 300px;
    width: 700px;
    border: 1px solid black;
    margin: auto;
    object-fit: cover;
}